body{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}



.btn{
    width: 100px;
    height: 50px;
    margin: initial;
    display: block;
    margin: auto;

    /* width: 50%; */
    
}
/* .center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 1px;
    background-image:"./backgroundPlane.png";
    background-color: lightgreen;
} */

#capsulaBtnEnch{

margin: auto;
background-color: khaki;
}
#divEncherto{

margin: auto;
background-color: lavender;
}
#divBtn{
background-color: lightcoral;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: auto;
    height: auto;

}