body{

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    background-image:"./backgroundPlane.png";
}



.btn{
    width: 100px;
    height: 50px;
    margin: initial;
    display: block;
    margin: auto;

    /* width: 50%; */
    
}
.center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 1px;
    background-image:"./backgroundPlane.png";
    
}

#capsulaBtnEnch{



}
#divEncherto{



}
#divBtn{


    
}